nav(class="nav-extended")
  div(class="nav-wrapper")
    a(href="/" class="brand-logo") Home
    ul(id="nav-mobile" class="right ")
      li
        a(href="/cart") Cart
      li
        a(href="/login") Login
      li
        a(href="/register") Register
