div(class="card")
  div(class="card-image")
    img(src=product.image_url)
  span(class="card-title")=product.name
  div(class="card-content")
    p=product.description
  div(class="card-action")
    a(href="#") Add to cart
