div(class="card")
  img(class="card-image" src=product.image_url)
  div(class="card-title")
    p=product.name
  div(class="card-content")
    p=product.description
  div(class="card-action")
    button(class="btn" hx-post="/shopping-cart?product_id=" + product.id + "&quantity=1") Add to cart
    p(class="product-price")=product.price + '$'
