.product-grid {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
}

.product-grid-item > .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}
.product-grid-item .card {
  max-height: 500px;
}

.product-grid-item .card-action {
  display: flex;
  flex-direction: reverse;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
.product-grid-item .card-action .product-price {
  font-size: 18px;
}

.product-grid .card-content > p {
  margin: auto;
  height: 50px;
  overflow-y: scroll;
}

.product-grid .card-title > p {
  width: 90%;
  height: 2rem;
  margin: auto;
  text-align: center;
  font-size: 18px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 15px;
}

.product-grid .card-image {
  height: 200px;
  object-fit: scale-down;
  transition: transform 0.5;
}
.product-grid .card-image:hover {
  transform: scale(0.9);
}

.register-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.register-form {
  padding: 25px;
  width: 50%;
  max-width: 500px;
}
.register-form > form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.alert {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.alert-text {
  color: white;
}

.cart-item-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cart-item {
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: flex-start;
  gap: 25px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}
.cart-item-img {
  height: 90px;
}
