div(class="register-content" id="register-content")
  h2 Register

  div(class="register-form")
    form(id="register-form" hx-swap="outerHTML" hx-post="/register" hx-select="#register-form" class="mt-5")
      if error
        include ../alert
      unless success
        div(class="input-field outlined mb-5")
          input(id="email" type="email" name="email" required="true")
          label(for="email") email
          span(class="supporting-text") your email address
        div(class="input-field outlined mb-5")
          input(id="password" type="password" name="password" required="true")
          label(for="password") password
          span(class="supporting-text") your super secret password
        div(class="input-field outlined disabled")
          input(name="password_repeat" id="password_repeat" type="password" required="true")
          label(for="password_repeat") repeat password
          span(class="supporting-text") your super secret password (again)
        button(class="btn mt-20" action="submit") Register
      if success
        include ../success
        a(href="/login") Click here to login

